/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f5f1;
}

.footer .socials a {
  margin: 0 0.5rem;
  text-decoration: none;
}
.mcontainer {
  margin: 0 auto;
  padding: 4rem 12.4rem;
}

@media (max-width: 768px) {
  .footer {
    padding: 4rem 3.2rem;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 3.2rem 1.6rem;
  }
  .footer {
    flex-direction: column;
  }
}
